<h3>Pesquisar</h3>
<form #pesquisaForm="ngForm">
  <div class="row">
    <div class="col-lg-10">
      <input type="search" class="form-control" name="nome" [(ngModel)]="seletor.nome" placeholder="Nome">
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary">Pesquisar</button>
    </div>
  </div>
  <details>
    <summary>Filtros</summary>
    <input type="checkbox" class="form-check-input" name="resolvida" [(ngModel)]="seletor.resolvida">
    <label class="form-check-label">Resolvida</label>
    <input type="date" name="dataInicial" [(ngModel)]="seletor.dataInicial">
    <input type="date" name="dataFinal" [(ngModel)]="seletor.dataFinal">
    <select name="categoria" [(ngModel)]="seletor.idCategoria" required>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
    </select>
  </details>
  {{seletor | json}}
</form>
