<div class="container">
  <app-barra-pesquisa></app-barra-pesquisa>
  <br>
  <div *ngFor="let pergunta of perguntas">
    <div class="card">
        <div class="card-header">
            <h1>{{pergunta.titulo}}</h1>
            <span class="btn btn-info">{{pergunta.categoria?.nome}}</span>
            <span class="btn btn-success" *ngIf="pergunta.dataResolucao">Resolvida</span>
            <hr>
            <button (click)="visualizarPergunta(pergunta)" class="btn btn-primary" type="button">Visualizar</button>
        </div>
    </div>
    <br/>
  </div>
</div>
