<div class="container">
  <app-barra-pesquisa (perguntasComFiltro)="perguntas=$event;" (compartilhaSeletor)="seletor=$event;"></app-barra-pesquisa>
  <br>
  <div *ngFor="let pergunta of perguntas.content">
    <div class="card">
        <div class="card-header">
          <h1>{{pergunta.titulo}}
          <span class="btn btn-sm btn-success" *ngIf="pergunta.dataResolucao">Resolvida</span> &nbsp;
          <span class="btn btn-sm btn-info">{{pergunta.categoria?.nome}}</span>
        </h1>
      </div>
      <div class="card-body">
        <button (click)="visualizarPergunta(pergunta)" class="btn btn-primary" type="button">Visualizar</button>
      </div>
    </div>
    <br/>
  </div>
  <button *ngIf="perguntas.pageable.pageNumber > 0" class="btn btn-primary"
    (click)="voltarPagina(seletor,perguntas.pageable.pageNumber)">Anterior</button>
      <button *ngIf="perguntas.pageable.pageNumber < (perguntas.totalPages - 1)"
      class="btn btn-primary float-end"
      (click)="proximaPagina(seletor,perguntas.pageable.pageNumber)">Proximo</button>
</div>
