<div class="container">
    <h1>Digite a pergunta</h1>
    <form #perguntaForm="ngForm">
      <label>Título:</label>
      <input type="text" class="form-control" name="titulo" [(ngModel)]="pergunta.titulo" required>
      <label>Categoria</label>
      <select name="categoria" class="form-control" [(ngModel)]="pergunta.idCategoria" required>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
      </select>
      <label>Usuário</label>
      <select name="categoria" class="form-control" [(ngModel)]="pergunta.idUsuario" required>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nome}}</option>
      </select>
      <br>
      <label>Conteúdo</label>
      <editor apiKey="p9sx7pl2basiohsb408l50famtd8ja9fxamll1ebvzozyrlm"
      [init]="{ plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
      toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | removeformat | help'
      }" name="conteudo" [(ngModel)]="pergunta.conteudo" required>
      </editor>
    </form>
    <br>
    <a class="btn btn-info" href="/">voltar para a home</a>
    <button type="button" class="btn btn-primary float-end" (click)="perguntar()">Perguntar</button>
</div>
