<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>{{pergunta.titulo}}</h3>
            <p class="btn btn-success">{{pergunta.categoria?.nome}}</p>
        </div>
        <div class="card-body" [innerHTML]="pergunta.conteudo">
        </div>
    </div>
    <hr/>
    <button type="button" (click)="responder()" class="btn btn-primary">Responder</button>
    <hr/>
    <app-arvore-respostas [idPergunta]="pergunta.id" [dataSolucao]="pergunta.dataResolucao"></app-arvore-respostas>
</div>
